{% extends 'base.html' %}

{% block content %}
    <div class="error-box">
        <h1>Acesso Não Autorizado</h1>
        <p>
            O login com o e-mail <span class="email">{{ email }}</span> não é permitido neste sistema.
        </p>
        <p>
            Por favor, utilize uma conta de e-mail institucional do IFRS - Campus Restinga
            ou uma conta Gmail autorizada.
        </p>
        <br>
        <a href="{% url 'account_logout' %}" class="btn btn-primary">Tentar Novamente</a>
    </div>
{% endblock %}