<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo ao nosso site!</h1>

    {% if user.is_authenticated %}
        <p>Olá, {{ user.first_name }} {{ user.last_name }}! ({{ user.email }})</p>
        {% if 'Professores' in user.groups.all|join:',' %}
            <p><a href="{% url 'gerenciar_bolsistas' %}"><strong>Gerenciar meus bolsistas</strong></a></p>
        {% endif %}
        <p><a href="/accounts/logout/">Sair (Logout)</a></p>
    {% else %}
        <p>Você não está logado.</p>
        <p><a href="{% url 'login' %}">Fazer Login</a></p>
    {% endif %}
</body>
</html>